* {
    font-family: Helvetica, sans-serif, Arial;
}

body {
    background-color: rgb(247,129,129,255);
}

button {
    background-color: rgb(40, 44, 43);
    border-color: rgb(52, 65, 61);
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.link {
    text-align: center;
}

.no-bullet {
    list-style: none;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgb(40, 44, 43);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
