* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    background-color: rgb(247,129,129,255);
    color: rgb(29, 31, 31);
}

button {
    background-color: rgb(40, 44, 43);
    font-size: 22px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 200px;
    border: solid rgb(52, 65, 61);
    margin: 10px;
}

button:hover {
    background-color: rgb(14, 12, 12);
    height: 50px;
}

.link {
    text-align: center;
}

.no-bullet {
    list-style: none;
}

h1,
h2 {
    text-align: center;
}

h1 {
    height: 50px;
    margin: 10px -8px;
    padding: 5px 5px;
    font-family: cursive;
    font-size: 35px;
    color: white;
    background-color: rgb(40, 44, 43);
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;  
}

img {
    display: block;
    margin: auto;
    width: auto;
  }

.text {
    font-size: 20px;
    font-weight: bold;
}

.recipelist{
    color: white;
    background-color: rgb(40, 44, 43);
  }